// Colors
$darkgrey: #999999;
$grey: #eeeeee;
$lightgrey: #fafafa;
$darkcyan: darkcyan;
$lightsteelblue: lightsteelblue;

// Spacing

// Font sizes
$base-font-size: 1.4rem;

//Form Inputs
$input-border: $grey;

//Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

//button
$button-bg: $darkcyan;
$button-text-color: white;
$secondary-button-bg: $lightsteelblue;
$secondary-button-text-color: white;
$button-pill-color: $darkcyan;

//item
$item-bg: $lightgrey;
$item-border: $grey;
